name: Push to README
on:
  workflow_dispatch:

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo to runner.
        uses: actions/checkout@v4
        with:
          path: source

      - name: checkout profile
        uses: actions/checkout@v4
        with:
          repository: BenHorleyOwen/BenHorleyOwen
          path: profile
          token: ${{ secrets.TOKEN }}

      - name: Python setup.
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: create output file
        run: python ./source/.github/scripts/readmescript.py --source ./source/vaults/Technology/Projects --destination ./profile

      - name: Push to README if changes present.
        shell: bash
        env:
          CI_COMMIT_MESSAGE: update profile readme with latest project information
          CI_COMMIT_AUTHOR: github-actions[bot]
          CI_COMMIT_EMAIL: benhorleyowen@users.noreply.github.com
        run: |
          cd profile
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "${{ env.CI_COMMIT_EMAIL }}"
          if [[ `git status --porcelain --untracked-files=no` ]]; then
            # Changes
            git add README.md
            git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
            git push
          else
            # No changes, though i think it will always be considered differently
            echo "no changes to latest posts"
            exit 0
          fi

