## github reusable workflow which should be called from the obsidian vault repo
name: Push to README
on:
  workflow_call:
    inputs:
      source_path:
        type: string
        required: true
      destination_repo:
        type: string
        required: true
    secrets:
      TOKEN:
        required: true
jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout workflow repo (scripts)
        uses: actions/checkout@v4
        with:
          path: source
      - name: Checkout ObsidianVaults (content)
        uses: actions/checkout@v4
        with:
          repository: BenHorleyOwen/ObsidianVaults
          path: vaults
          token: ${{ secrets.TOKEN }}
      - name: Checkout profile
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.destination_repo }}
          path: profile
          token: ${{ secrets.TOKEN }}
      - name: Python setup.
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Create output dir
        run: python ./source/.github/scripts/readmescript.py --source ./vaults/${{ inputs.source_path }} --destination ./profile
      - name: Push to README if changes present.
        shell: bash
        env:
          CI_COMMIT_MESSAGE: update portfolio pages with latest project information
          CI_COMMIT_AUTHOR: github-actions[bot]
          CI_COMMIT_EMAIL: benhorleyowen@users.noreply.github.com
        run: |
          cd profile
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "${{ env.CI_COMMIT_EMAIL }}"
          if [[ `git status --porcelain --untracked-files=no` ]]; then
            git add .
            git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
            git push
          else
            echo "no changes to latest posts"
            exit 0
          fi